<!-- addForm.html -->

<!-- "Join Team" (Post) Form -->
<div class="col-xs-12">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Avances <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <p class="bg-muted">1.DAÑOS</p>
            <p class="bg-muted">Daños en {{params.danos}}</p>
            <p class="bg-muted">2.CAUSA</p>
            <p class="bg-muted">{{params.causa}}></p>
            <p class="bg-muted">3.ORIGEN</p>
            <p class="bg-muted">{{params.origen}}</p>

            <p class="bg-muted"></p>
              <p class="bg-muted"></p>
                <p class="bg-muted"></p>
                  <p class="bg-muted">4.CIRCUNSTANCIAS</p>
              <p class="bg-muted"> Personado en el riesgo asegurado, se trata de vivienda tipo {{params.vivienda}}, con buen estado de conservación y zona {{params.zona}}, con los capitales contratados acordes a las preexistencias observadas, donde soy atendido por {{params.don}} {{params.nombre}} , la cual me indica la ocurrencia del siniestro.</p>
              <p class="bg-muted">{{params.circunstancias2}}</p>
                <p class="bg-muted">{{params.circunstancias3}}</p>
                <p class="bg-muted">{{params.circunstancias4}}</p>
                <p class="bg-muted">{{params.circunstancias5}}</p>
                       <p class="bg-muted">5.CALIFICACION</p>
                        A criterio de este perito, el presente siniestro se califica {{params.cobertura}} para la garantía contratada en póliza de {{params.garantia}}, que afectan al {{params.riesgo}} asegurado, como consecuencia de alteración eléctrica por sobretensión (ende corrientes anormales).



        </div>
    </div>
</div>
